* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background: #5FAACC;
    color: white;
    position: relative;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 800;
}

.navbar a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin-left: 20px;
}

.navbar a:hover,
.navbar a.active {
    color: #5FAACC;
}

.home {
    display: flex;
    height: 100vh;
    align-items: center;
    left: 400px;
    right: auto;
}

.home h1 {
    font-size: 25px;
}

.home-content {
    margin-left: 5%;
}

.projects {
    margin-top: 5%;
    display: flex;
    height: 100vh;
    align-items: top;
    left: 400px;
    right: auto;
    margin-left: 3%;
}

.about {
    display: flex;
    height: 100vh;
    align-items: top;
    left: 400px;
    right: auto;
    margin-left: 3%;
}

.contact {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.contact a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin-left: 20px;
}

img.photo {
    position: relative;
    border-radius: 60%;
    left: 600px;
}

.about {
    padding: 80px 0;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    border-radius: 15px;
}

.about-col-2{
    margin-left: 30px;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: black;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}